# Entorno virtual de Python
backend/venv/

# Archivos generados por Python/Django
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3

# Dependencias de Node
frontend/node_modules/

# Archivos de build de React
frontend/build/

# Archivos de log y entorno de VS Code
.vscode/
*.log
.env