[run]
omit =
    */migrations/*
    */tests/*
    manage.py
    clarotec_api/wsgi.py
    clarotec_api/asgi.py
    probar_integridad.py
    check_roles.py
    test_items_creation.py
    */apps.py
    */__init__.py
    */admin.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
